*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.124rem;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)),url('./assets/lg.jpg');
  background-size: cover;
background-position: left;
background-attachment: fixed;
backdrop-filter: blur(10px);
color: black;
}

.contact {
  display: flex;
    height: 500px;
    margin-top: 5em;
    background-color: rgb(16, 16, 16);
    align-items: center;
  }
  .cbody {
    width: 70%;
    margin: 0 auto;
 
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
  
    overflow: hidden;
    justify-content: space-around;
  
   
  }
  form {
    width: 25%;
    text-align: left;
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
  }

 form button {
  margin-top: 1em;
  width: 6em;
  font-size: .7rem;
  height: 2.4em;
  cursor: pointer;
 }
  textarea {
    resize: none;
    overflow: hidden;
  }

  .con {
    overflow: hidden;
    display: flex;
  height: 100%;
margin-top: 1em;
    flex-direction: column;

  }
  .otherc {
    padding-bottom: 3em;
  }

  .con h2 {
    margin-top: 2em;
  }
textarea {
  background-color: transparent;
  padding: 1em;
  color: white;
  outline: none;
  border: 1px solid white;
}
  input {
    margin-bottom: 1em;
    color: white;
    padding: 0.7em;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
  }

img {
width: 100%;

border-radius: 20px;

}

header {

background-color: transparent;
  height: 3em;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 3px 3px 5px rgba(255,255,255,0.1);

}

.hide {
  display: none;
}


.nav {

 
width: 25%;
margin: 0 auto;
}

.nav ul {
  display: flex;
font-size: 1.1rem;
border: 1px solid white;
background-color: transparent;
justify-content: space-between;
padding: 0 1em;
}
.nav ul li a {
  color: white;
}
.nav ul li {

  list-style: none;
}

.nav ul li a {
  text-decoration: none;
}

.home {

max-width: 1920;
  display: flex;
  background-color: transparent;
  padding: 3em 3em;
 gap: 10em;

}

.cont {
  width: 85%;
  background-color: transparent;
  margin: 0 auto;
  height: 600px;
  display: flex;
  margin: 0 auto;
  align-items: center;
 justify-content: space-between;
}

.cont .img {
  width: 100%;

  max-width: 500px;
  overflow: hidden;

  min-width: 400px;
}

.cont .img img {
  rotate: -12deg;
  border: 1px solid white;
  width: 70%;
min-width: 300px;
  padding: 2em 2em;
}

.left h2, .left h3, .left h1, .left p ,.left button{
  margin-left: 5rem;
}
.left h3 {
  margin-top: -1em;
}
.left p {
  width: 70%;
  text-align: left;
}

.cont .left {
display: flex;
font-size: 1.4rem;
gap: 1em;
color: white;
justify-content: center;
align-items: flex-start;
flex-direction: column;

}
.left button {
width: 8em;
padding: .5em 0;
}

.about {
  color: white;  
max-width: 1920;
height: 600px;
gap: 10em;
margin: 8em 0;
display: flex;
align-items: center;
background-color: rgb(16, 16, 16);

}

.inner {
border: 1px solid white;
color: white;
  margin: 0 auto;
  width: 40%;
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.inner b {
  color: white;
 font-size: 2em;

}

.skills{
  background-color: rgb(16, 16, 16);
  max-width: 1920;
  height: 600px;

color: white;
margin-bottom: 7em;

}

.contact {
  display: flex;
    height: 300px;
    margin-top: 4em;
    height: 500px;
    color: white;
    height: 600px;
    align-items: center;
  }
  .cbody {
    width: 70%;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4em;
    height: 100%;
    overflow: hidden;
   
  }

.skills .in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblack;
  height: 500px;
  width: 90%;
 
  margin: 4em auto;
}

.skills .in h2 {

  margin-bottom: 3em;

}

.skills .in  li img {
  padding-top: 30px;
  filter: blackscale(1);
  border-radius: 0;

}

.skills .in ul li {
  width: 13%; 
  max-width: 20%;
  text-decoration: none;
  border: 1px solid white;
  padding: 2em;


}

.in ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: center;
}


@media screen and (max-width: 1024px){
.about {
  height: 400px;
}

.skills {
display: flex;
overflow: hidden;
  height: 400px;
  align-items: center;
  }
.skills .in{
margin: 0 auto;
height: 300px;
width: 90%;
overflow: hidden;

}
.skills .in .skillslist{
 width: 100%;
 height: 10em;
margin-top: -3em;
 overflow: scroll;
 background-color: transparent;

   }
   .skills .in .skillslist ul{
    width: 130%;
   
      }

.skills .in ul li{
 width: 80px;

  
  }





.inner {
  width: 80%;
  font-size: .9rem;
}

  .cont {
    width: 90%;
  
    margin: 0 auto;
 height: fit-content;
    display: flex;

    align-items: center;
   gap: 3em;
   flex-direction: column;
  }



  .cont .img {
    width: 100%;
  
    max-width: 50%;
    overflow: hidden;
  min-width: 300px;
  

  
  }
  
  .cont .img img {
 min-width: 10px;
  }


body {
  max-width: 100%;
}

.hide {
position: fixed;
  margin: 2.4% 3%;
}
.nav {


width: 25%;
position: fixed;
top: 3em;
transition: .7s;
left: -15em;
}

.nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 0;
  align-items: center;
}


.hide {
  display: block;
}


.left h2, .left h3, .left h1, .left p ,.left button{
  margin-left: 2rem;
  margin-top: -.5em;
  font-size: .9rem;
}


}

.contact {
  display: flex;
    height: 100px;
    margin-top: 4em;

    color: white;
    height: 400px;
    align-items: center;
  }
  .cbody {
    width: 50%;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4em;
    height: 100%;
    overflow: hidden;
   
  }